<h2 class="text-danger">Access Denied</h2>
<p>You don't have permission to view this page.</p>
<a href="{% url 'index' %}" class="btn btn-primary">Back to home</a>


<!--BOOTHS-->

<!--from events.models import Booth, Event -->
<!--from decimal import Decimal-->

<!--event_name = """THE 4TH UGANDA - KENYA COAST TOURISM CONFERENCE & EXHIBITION"""-->

<!--event = Event.objects.get(name=event_name)-->

<!--booths = []-->
<!--for i in range(1, 53):   # B1 → B52-->
<!--    booths.append(-->
<!--        Booth(-->
<!--            event=event,-->
<!--            name=f"B{i}",-->
<!--            price=Decimal("50000.00"), -->
<!--        )-->
<!--    )-->

<!--Booth.objects.bulk_create(booths)-->

<!--print("✅ Fresh booths B1–B52 created for", event.name)-->
